:root {
    --green-0: #F6FFED;
    --green-100: #E5FBCE;
    --green-200: #D2F5AF;
    --green-300: #BFEB92;
    --green-400: #ABDC79;
    --green-500: #96C963;
    --green-600: #7FAE50;
    --green-700: #658E3D;
    --green-800: #49682A;
    --green-900: #304018;
    --grey: #565656;
    --container-bc: #F0EFEC;
    --background: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "montserrat", sans-serif;
}

html { 
    scroll-behavior: smooth;
}

/*    WHATSAPP BTN

.wpp-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;   
    text-align: center;
    z-index: 3;
    transition: all 1s ease;
}

.wpp-btn img {
    width: 80px;
    opacity: 0.9;
    transition: all 1s ease;
}

.wpp-btn img:hover {
    opacity: 1;
    width: 90px;
}

.wpp-btn:hover {
    bottom: 20px;
    right: 20px; 
}

*/


/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70.5rem;
    margin: 2.5rem auto;
}

.logo-img {
    width: 11.0625rem;
    height: 5.8125rem;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.links a, .header-btn {
    color: var(--green-900);
    font-size: 1.25rem;
    font-weight: 700;
}

.links a {
    position: relative;
}

.links a:hover {
    color: var(--green-800);
}

.links a:before {
    content: "";
    position: absolute;
    top: 30px;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--green-800);
    transition: all 400ms ease-in-out;
}

.links a:hover:before {
    width: 100%;
}

.contact { 
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--green-900);
    color: white;
    transition: all 200ms ease-in-out;
}

.contact:hover {
    background-color: var(--green-800);
}

/* HERO BANNER */

.main-container {
    display: flex;
    width: 70.5rem;
    height: 39.4375rem;
    padding: 4rem;
    justify-content: center;
    align-items: flex-start;
    gap: 4.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--container-bc);
    margin: 7.63rem auto;
    position: relative;
}

.bold {
    color: var(--green-900, #304018);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.6875rem;
}

.main-title {
    width: 100%;
    align-self: stretch;
}

.main-subtitle {
    width: 47.4375rem;
}

.main-title h1 {
    color: var(--green-900, #304018);
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4.6875rem; 
}

.main-subtitle p {
    margin-top: 1.5rem;
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 400;
}

.main-buttons {
    margin-top: 4.5rem;
    display: flex;
    gap: 2rem;
}

.main-buttons a:nth-child(1) {
    display: flex;
    width: 16rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--green-900);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

.main-buttons a:nth-child(1):hover {
    background-color: var(--green-800);
}

.main-buttons a:nth-child(2):hover {
    border: 4px solid var(--green-800);
    color: var(--green-800);
}

.main-buttons a:nth-child(2) {
    display: flex;
    width: 16rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 4px solid var(--green-900);
    color: var(--green-900);
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

.main-image-side img {
    width: 33.9375rem;
    height: 49.8125rem;
    position: absolute;
    right: -5.125rem;
    top: -10.375rem;
}