:root {
    --green-0: #f6ffed;
    --green-100: #e5fbce;
    --green-200: #d2f5af;
    --green-300: #bfeb92;
    --green-400: #abdc79;
    --green-500: #96c963;
    --green-600: #7fae50;
    --green-700: #658e3d;
    --green-800: #49682a;
    --green-900: #304018;
    --grey: #565656;
    --container-bc: #f0efec;
    --background: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--green-600);
    border-radius: 3px;
}
/* MENSAGEM AVISO */

.aviso {
    position: fixed;
    z-index: 10000;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 51, 51);
    padding: 1rem;
}

.aviso a {
    color: white;
}

section {
    padding-top: 5rem;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70rem;
    height: 6.8rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.logo-img {
    width: 11.0625rem;
    height: 5.8125rem;
    flex-shrink: 0;
}

.links {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.links a,
.header-btn {
    color: var(--green-900);
    font-size: 1.25rem;
    font-weight: 700;
}

.links a {
    position: relative;
}

.links a:hover {
    color: var(--green-800);
}

.links a:before {
    content: "";
    position: absolute;
    top: 30px;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--green-800);
    transition: all 400ms ease-in-out;
}

.links a:hover:before {
    width: 100%;
}

.contact {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--green-900);
    color: white;
    transition: all 200ms ease-in-out;
}

.contact:hover {
    background-color: var(--green-800);
}

/* HERO BANNER */

.main-container {
    display: flex;
    width: 70.5rem;
    height: 39.4375rem;
    padding: 4rem;
    justify-content: center;
    align-items: flex-start;
    gap: 4.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: var(--container-bc);
    margin: 0 auto;
    position: relative;
}

.bold {
    color: var(--green-900, #304018);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.6875rem;
}

.main-title {
    width: 100%;
    align-self: stretch;
}

.main-subtitle {
    width: 47.4375rem;
}

.main-text-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.main-title h1 {
    color: var(--green-900, #304018);
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4.6875rem;
}

.main-subtitle p {
    margin-top: 1.5rem;
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 400;
}

.main-buttons {
    margin-top: 4.5rem;
    display: flex;
    gap: 2rem;
}

.contact-us {
    display: flex;
    width: 16rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--green-900);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

.contact-us:hover {
    background-color: var(--green-800);
}

.show-projects {
    display: flex;
    width: 16rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 4px solid var(--green-900);
    color: var(--green-900);
    font-size: 1.25rem;
    font-weight: 700;
    transition: all 200ms ease-in-out;
}

.main-buttons a:nth-child(1):hover {
    background-color: var(--green-800);
}

.main-buttons a:nth-child(2):hover {
    border: 4px solid var(--green-800);
    color: var(--green-800);
}

.main-image-side img {
    width: 27.375rem;
    height: 43.5625rem;
    position: absolute;
    right: -1.375rem;
    top: -4.125rem;
}

/* WE-DO */

#we-do {
    height: auto;
}

.bar {
    width: 6.0625rem;
    height: 0.25rem;
    border-radius: 0.5rem;
    background: #d9d9d9;
}

.we-do-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    width: 54.8rem;
    margin: 0 auto;
}

.header-text {
    width: 32.6rem;
}

.header-text h1 {
    color: var(--green-900, #304018);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.header-text p {
    color: var(--grey);
    text-align: center;
    font-size: 1rem;
    margin-top: 2rem;
}

.green {
    color: var(--green-700, #658e3d);
}

.we-do-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.we-do-content {
    display: flex;
    justify-content: center;
    gap: 4.25rem;
    padding: 5rem;
}

.we-do-content2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.bamboo-img,
.bamboo2-img {
    width: 18rem;
    height: 18rem;
}

.bamboo2-img {
    margin: 12rem 0rem 2rem 0rem;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.call-to-action p {
    width: 20rem;
}

/* Projects */

#projects {
    padding-top: 6rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    gap: 2rem;
}

.projects-header h1 {
    color: var(--green-900);
    font-size: 3rem;
    font-weight: 700;
}

.projects-header p {
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 500;
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 4rem;

    cursor: pointer;
}

.projects-content img:hover {
    transform: scale(1.01);
    transition: all 300ms ease-in-out;
}

.projects-button {
    display: flex;
    justify-content: center;
}

.projects-button a {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    border: 3px solid var(--green-900);
    width: auto;
    padding: 1rem;
    height: 3.5rem;
    color: var(--green-900, #304018);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.projects-button a:hover {
    border: 3px solid var(--green-800);
    color: var(--green-800);
}

.instagram {
    font-weight: 700;
    text-decoration-line: underline;
}

/* FAQ */

#faq {
    padding-top: 10rem;
}

.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.faq-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.faq-header h1 {
    color: var(--green-900);
    font-size: 3rem;
    font-weight: 700;
}

.faq-header p {
    color: var(--grey);
    font-size: 1.25rem;
    font-weight: 500;
}

.accordion {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    align-items: center;
    gap: 1.5rem;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    border-radius: 1rem;
    border: 3px solid var(--green-800);
    transition: all 200ms ease-in-out, color 100ms;
    cursor: pointer;
    width: 70rem;
}

.accordion-item:hover .accordion-heading p:hover {
    color: var(--green-700);
}

.accordion-item.active .accordion-heading p:hover {
    color: #fff;
}

.accordion-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.accordion-heading p {
    color: var(--green-800);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}

.accordion-content {
    display: none;
}

.accordion-content p {
    text-align: justify;
    padding-top: 1rem;
    width: 62rem;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
}

.accordion-item.active .accordion-heading p {
    color: #fff;
}

.accordion-item.active {
    background-color: var(--green-800);
    color: #fff;
}

.accordion-item.active .accordion-content {
    display: block;
}

/* Banner call to action */

.banner-container {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 70rem;
    height: 21rem;
    align-self: stretch;
    border-radius: 1rem;
    background: url(../assets/banner.png),
        lightgray -421.73px -596.835px / 177.461% 329.706% no-repeat;
}

.banner h1 {
    color: #f6ffed;
    font-size: 1.5rem;
    font-weight: 700;
}

.banner p {
    color: #f6ffed;
    font-size: 1.25rem;
    font-weight: 700;
}

.banner a {
    display: flex;
    width: 16rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    border: 4px solid #f6ffed;
    transition: all 200ms ease-in-out;
}

.banner a:hover {
    transform: scale(1.02);
}

/* Contacts */

#contact {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.contact-container {
    display: flex;
    width: 70.5rem;
    padding: 4rem 2.5rem;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: #f0efec;
}

.contact-header {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.contact-text h1 {
    color: var(--green-900);
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.contact-text p {
    color: var(--grey);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.contact-buttons {
    display: flex;
    align-items: flex-start;
    gap: 5.8rem;
}

.contact-buttons a {
    display: flex;
    width: 16rem;
    height: 5rem;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--green-900);
    transition: all 200ms ease-in-out;
}

.contact-buttons a:hover,
.contact-form form > input[type="submit"]:hover {
    background: var(--green-800);
}

.contact-buttons a > p {
    color: #fff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}

.sub-text p {
    color: var(--grey);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.contact-form {
    display: flex;
    width: 58.5rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.contact-form form {
    display: flex;
    width: 58.5rem;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.contact-form div > input,
textarea {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-self: stretch;
    border-radius: 1rem;
    background: #d6d6d6;
    width: 58.5rem;
    color: var(--green-900);
    font-size: 1.25rem;
    font-weight: 500;
    resize: none;
}

.contact-form form > input[type="submit"] {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1rem;
    background: var(--green-900);
    width: 7rem;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--grey);
    font-size: 1rem;
    font-weight: 500;
}

.msg-box {
    display: flex;
    height: 14.25rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

/* Footer */

footer {
    display: flex;
    width: 100%;
    padding: 2.5rem 9.75rem;
    justify-content: space-between;
    align-items: center;
    background: var(--green-900);
}

.copyright p {
    color: #f6ffed;
    font-size: 1rem;
    font-weight: 700;
}

.socials-midia {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    color: #f6ffed;
    font-size: 1.25rem;
    font-weight: 400;
}
