:root {
    --green-50: #61A61C;
    --green-100: #6DA653;
    --grenn-150:  #5C8C46;
    --background: #F1F2EB;
    --black: #0D0D0D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html { 
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}



header nav {
    background-color: var(--grenn-150);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 10px 20px;
}

nav img {
    width: 3.5rem;
    cursor: pointer;
}

.links a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.links a:hover {
    opacity: 0.8;
}

.contact {
    background-color: var(--green-50);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.137);
}

main {
    display: flex;
    align-items: center;
}

.text, .call_to_action {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10%;
    width: 100%;
    height: 100vh;
}

.text {
    
}

.call_to_action {
    
}

.green {
    color: var(--green-50);
}