:root {
    --green-50: #93BF50;
    --green-75: #678C30;
    --green-100: #34590E;
    --green-150:  #304018;
    --background: #F1F2EB;
    --black: #0D0D0D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

html { 
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

nav {
    background: linear-gradient(to right, #678C30 0%, #4A751D 50%, #34590E 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
    scroll-padding-top: 60px;
}

.hamburguer {
    display: none;
}

.logo-img {
    width: 3.5rem;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--background);
    cursor: pointer;
    font-weight: lighter;
}

.links a {
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.links a:hover {
    opacity: 0.8;
}

.contact {
    background-color: var(--green-75);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.137);
}

section {
    padding-top: 60px;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
}

.green {
    color: var(--green-50);
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1s ease;
}

.slide img {
    width: 800px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}
#radio1:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}
#radio1:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}
#radio1:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}


@media screen and (max-width: 768px) {

    .links {
        position: absolute;
        top: 105%;
        right: -100%;
        width: 270px;
        background-color: var(--green-100);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 5px;
        transition: all .20s ease;
        padding: 1rem;
    }

    .links.open {
        right: 2%;
    }

    .contact {
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }

    .hamburguer {
        display: flex;
    }
    
    .hamburguer a {
        font-size: 2rem;
        color: var(--background);
    }
}