:root {
    --green-50: #93BF50;
    --green-75: #678C30;
    --green-100: #34590E;
    --green-150:  #304018;
    --background: #F1F2EB;
    --black: #0D0D0D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

html { 
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

header nav {
    background: linear-gradient(to right, #678C30 0%, #4A751D 50%, #34590E 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
}

.hamburguer {
    display: none;
}

.logo-img {
    width: 3.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--background);
    cursor: pointer;
    font-weight: lighter;
}

.links a {
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.links a:hover {
    opacity: 0.8;
}

.contact {
    background-color: var(--green-75);
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.137);
}

section {
    margin-top: 60px;
    height: 100vh;
    width: 100%;
}

.main-text {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
}

.green {
    color: var(--green-50);
}



@media screen and (max-width: 768px) {
    h3 {
        display: none; /* Ocultar em telas menores */
    }

    .links {
        display: none;
    }

    header nav {

    }

    .hamburguer {
        display: flex;
    }
    
    .hamburguer a {
        font-size: 2rem;
        color: var(--background);
    }
}